<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto" id="skills-content">
  <h2 class="mb-5">{{ i18n "skills" }}</h2>
    {{ range .Site.Data.skills }}
        <div class="subheading mb-3 skills-heading">{{ .grouping }}</div>
            <ul>
            {{ range .skills }}
                {{ $name := . }}
                {{ if eq (printf "%T" .) "map[string]interface {}" }}
                    {{ $name = .name }}
                    {{ $iconname := .name }}
                    {{ if isset . "icon" }}
                        {{ $iconname = .icon }}
                    {{ end }}
                    {{ if isset . "link" }}
                        {{ $link := .link }}
                        <li class="list-inline-item">
                          <i class="{{ printf "devicon-%s-plain" (lower $iconname) }}"></i>
                          <a href="{{ $link }}">{{ $name }}</a>
                        </li>
                    {{ else }}
                        <li class="list-inline-item">
                          <i class="{{ printf "devicon-%s-plain" (lower $iconname) }}"></i>
                          {{ $name }}
                        </li>
                    {{ end }}
                {{ else }}
                    <li class="list-inline-item">
                      <i class="{{ printf "devicon-%s-plain" (lower $name) }}"></i>
                      {{ $name }}
                    </li>
                {{ end }}
            {{ end }}
            </ul>
    {{ end }}
  </div>
</section>
